# LaTeX build artifacts
build/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.run.xml
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.ist
*.acn
*.acr
*.alg
